* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #222;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

aside {
  background-color: #aaa;
  padding: 20px;
}

section {
  background-color: #ddd;
  padding: 20px;
}

nav a {
  display: block;
  margin-bottom: 5px;
}

footer {
  background-color: #222;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
